<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="style/style.css">
    <title>Link List</title>
</head>
<body>
    <div id="app">
    
        <!--
        <ul>
            <todo-item
                v-for="item in todos"
                v-bind:todo="item"
                v.bind:key="item.id"
            ></todo-item>
        </ul>
        -->

        <ul>
            <link-list v-for="item in linkList" v-bind:module="item"></link-list>
        </ul>
    </div>

    <script src="components/LinkItemComponent.js"></script>
    <script src="components/LinkListComponent.js"></script>
    <script src="scripts/index.js"></script>
</body>
</html>